/*Body Styles*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Passion+One&display=swap');

:root {
    --bigFont: 'Passion One', san-serif;
    --midFont: 'Josefin Sans', san-serif;
}

body {
    width: 1280px;    
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    color: black;
}

h1 {
    font-family: var(--bigFont);
    font-size: 4em;
}

h2{
    font-family: var(--midFont);
    font-size: 2.5em;
    font-weight: 700;
}

h3 {
    font-family: var(--midFont);
    font-size: 1.5em;
    font-weight: 700;
}

p, label, legend, nav, button {
    font-family: var(--midFont);
    font-size: 1em;
    font-weight: 400;
}

.dark-mode {
    background-color: black;
    color: white;
  }

  .hero-image {
    background-image: url("assets/hero.jpg");
    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text h2{
    margin: 0 auto;
    padding-top: 2em;
    padding-left: 1em;
    font-size: 50px;
  }


/*Navigation Styles*/
header {
	width: 100%;
}
button {
	float: right;
	background-color: aliceblue;
	padding: 10px;
}

nav {
    padding-bottom: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
	margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
	width: 20%;
	margin-right: -4px;
	font-size: 1.5em;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: red;
}



/*Form Styles*/
form{
	width: 100%;
	max-width: 1200px;
	margin:  2em auto;
	padding:  0.75em;
	border: 2px solid #000;
	border-radius: 0.2em;
}

form input {
    padding: 5px;
    width: 50%;
    display: block;
}

form label {
    padding: 5px;
    display: block;
}

form fieldset {
    padding: 5px;
    width: 15%;
    display: inline;
}



/*Game Styles*/
#game1{
	margin-top: 2rem;	
	padding-bottom: 2rem;
}

#game1 div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

#game1 h2{
	grid-column: 1/-1;
}

#game1 form{
	padding: 1rem;
}

#gameDisplay p{
	padding: 0.5rem;
}



/*Switcher Styles*/
#switcher1, #switcher2, #switcher3, #game1 {
	background-color: white;
	padding: 1rem;
	width: calc(100% - 2rem);
	max-width: 1280px;
}

#switcher1 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcherButtons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	width: fit-content;
	margin: 2rem auto;
}

#switcher1 img{
	grid-row: 1/-1;
}

#switcher1 h3{
	grid-column: 2/-1;
	align-self: end;
}


#switcher2 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcher2{
	margin-top: 2rem;
}

#switcher2 img{
	grid-row: 1/-1;
	grid-column: 2/-1;
}

#switcher2Buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	width: fit-content;
	position: relative;
	left: 12%;
	top: -80px;
}

#switcher3 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcher3Buttons{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	height: fit-content;
	align-self: center;
}

#switcher3 img{
	grid-row: 1/-1;
}

#switcher3 h3{
	grid-column: 2/-1;
	align-self: end;
}